<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="accountEndpoint" value="https://cosmos11673.documents.azure.com:443/" />
    <add key="accountKey" value="nKw3fc3LIu6RNTTVUKEiCOioJAGM3csEdhTn8vNuITLzMg5GvUlkVNjxaTZjNxoxAo9er0FYCvaoaeU8AcoWhw==" />
  </appSettings>
</configuration>